<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': objetsStatus === 'allumé',
                'list-group-item-danger': objetsStatus === 'éteint'}">
    
    <h4 [ngStyle]="{color:getColor()}" >Objets : {{ objetsName }} -- Status : {{getStatus()}}</h4>
    
    <button class="btn btn-sm btn-success"
            *ngIf="objetsStatus === 'éteint'"
            (click)="onSwitch()">Allumer</button>
    <button class="btn btn-sm btn-danger"
            *ngIf="objetsStatus === 'allumé'"
            (click)="onSwitch()">Eteindre</button>

</li>