<!--The content below is only a placeholder and can be replaced.-->
<!-- <p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Sample alert.
  </ngb-alert>
</p> -->


<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about/48">About</a></li>
</ul>

<app-home></app-home>

<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Mes objets</h2>
        <p>
          Mise à jour : {{lastUpdate| async |date: yyyymmmmdd}}
        </p>
        <ul class="list-group">
          <app-about *ngFor="let mesObjets of Objets"  let i = "index"
                      [indexOfAbout] = "index"
                      [objetsName]="mesObjets.name"
                      [objetsStatus]="mesObjets.status"
          ></app-about>     
        </ul>
      <button class="btn btn-success"(click)="onAlummer()">Tout activer</button>
      <button class="btn btn-danger" (click)="onEteindre()">Tout éteindre</button>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
