<!--The content below is only a placeholder and can be replaced.-->
<!-- <p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Sample alert.
  </ngb-alert>
</p> -->


<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about/48">About</a></li>
</ul>

<app-home></app-home>

<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Mes objets</h2>
        <ul class="list-group">
          <app-about></app-about>
          <app-about></app-about>   
          <app-about></app-about>          
      </ul>
      <button class="btn btn-sucess"[disabled]="!isAuth">Tout activer</button>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
